/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/.idea/firstWork.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/scopes
/.idea/.name
/.idea/encodings.xml
/public/media
